/DBServer/DB
/DBServer/Backup
/DBServer/ClearLog
/DBServer/Connection
/DBServer/Log
.idx

/LoginSrv/ChrLog

/LoginSrv/CountLog

/LoginSrv/GameWFolder
/LoginSrv/IdLog
/LoginSrv/DB
/LogServer/BaseDir

/Mir200/Log

/Mir200/ConLog
/Mir200/Email
/Mir200/Log
/Mir200/Envir/Market_Storage
/Mir200/Envir/Market_Upg
/Mir200/GuildBase/Guilds
/Mir200/Share
/Mir200/ShareV